<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowLegacyNetworks</key>
	<false/>
	<key>AutoHotspotMode</key>
	<string>AskToJoin</string>
	<key>Counter</key>
	<integer>2</integer>
	<key>DeviceUUID</key>
	<string>F37A08E3-12C3-4F5A-BADE-9359C2D152AA</string>
	<key>PowerEnabled</key>
	<true/>
	<key>PreferredOrder</key>
	<array/>
	<key>PrivateMACAddressDeviceKey</key>
	<data>
	1b6a+MBXpv7DLuvI1qonKXFEfSBYAJs57i6RXYJqUNI9lnZLUt1L+Dpyuekxjn1YulTa
	qnbzj6XLeJWeZgJAnwc/MYUkp99aH7zuw9bRsJU6fGXSV6nFcIxqfesfOgpRBBhMuilc
	3me/O6JwNz9r69z4kMFuyVeGpz2AdskIGfSRAJ8Due4yC9nAgOFPVNnH64nrcBnSmCnb
	cXqw6HhNW7lCHubcyVPxMS1ZJk6MZJyTDZCxqYXA10b/cG6YeljHooQBnPgjfOrxBlnS
	i2hQALGrBimTgrUCqoc31m7o+pG2QXCCk8I3JOTXeNfZOYht6b/I0XNl4osTOhUDRaAJ
	ww==
	</data>
	<key>PrivateMACAddressModeSystemSetting</key>
	<integer>0</integer>
	<key>PrivateMACAddressRotationKey</key>
	<data>
	ndS3M1LjZdOdUv71irf2PXVxQIsYASKqZ8w8Q5mvNRH8BAhqcsgHweabS0B3DpX7YSNH
	Grrwq/66qT7jhCQKqth4XPpAmWXUKcbV/OgsQLzepz2DDVV2ab1YDHyZfN6vxZlekyku
	qoW5DK/60j+8IkiDf1YJa9e1UmaVUbuY2AIOCY6MplVFBIFOdiA+1qLoVYNcQd4lfRNm
	uXFz6SpZ+TLufOHRgQzqKKtlJEazD1WXXmlUjsE4U0VI97SnWRqukdcKz4JNu9AIp3CA
	yLQd/qaobh5QJmU6+9SlwsXd7+8PKkh7hRUggH0ZSjoyh9vcRM2JHlJAxyHkyEsR1j5x
	Dg==
	</data>
	<key>PrivateMACAddressRotationKeyTimestamp</key>
	<date>2025-05-18T01:03:19Z</date>
	<key>RememberJoinedNetworks</key>
	<true/>
	<key>RequireAdminIBSS</key>
	<false/>
	<key>RequireAdminNetworkChange</key>
	<true/>
	<key>RequireAdminPowerToggle</key>
	<false/>
	<key>Version</key>
	<integer>7100</integer>
</dict>
</plist>
