openapi: 3.1.0
info:
  title: AtlasIT Platform API
  version: 1.3.0
  description: >-
    Core public-facing endpoints for compliance snapshots, evidence retrieval, health, policies,
    and control coverage. Contract-first; additive evolution. All responses include `tenantId` when scoped.
servers:
  - url: https://www.atlasit.pro
    description: Production (www)
  - url: https://atlasit-compliance-worker.kd8jc7v8cd.workers.dev
    description: Staging (workers.dev)
paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Service is healthy
          headers:
            X-Request-ID:
              schema: { type: string }
              description: Correlation identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /api/policies/templates:
    get:
      summary: List available policy templates
      responses:
        '200':
          description: Policy templates
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PolicyTemplate'
  /api/policies/generate:
    post:
      summary: Generate (or fetch cached) policy content from a template context
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePolicyRequest'
      responses:
        '200':
          description: Policy content (cached or newly generated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePolicyResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/policies/coverage:
    get:
      summary: Control coverage summary (query variant)
      description: Deprecated query-based variant; prefer `/api/policies/coverage/{framework}`.
      deprecated: true
      parameters:
        - in: query
          name: framework
          schema: { type: string }
          description: Framework identifier (defaults to SOC2)
      responses:
        '200':
          description: Coverage summary
          headers:
            Deprecation:
              schema: { type: string }
              description: Always `true` for this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageSummary'
        '404':
          description: Framework not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/policies/coverage/{framework}:
    get:
      summary: Control coverage summary for a framework
      parameters:
        - in: path
          name: framework
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Coverage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageSummary'
        '404':
          description: Framework not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/controls/{controlKey}/evidence-link:
    post:
      summary: Link evidence hash to a control
      parameters:
        - in: path
          name: controlKey
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [evidenceHash]
              properties:
                evidenceHash:
                  type: string
                  pattern: '^[a-f0-9]{64}$'
                  description: Hex-encoded SHA-256 hash returned from evidence ingest
      responses:
        '201':
          description: Link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceLinkResult'
        '200':
          description: Link already existed (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceLinkResult'
        '404':
          description: Control or evidence not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/security/incidents:
    get:
      summary: List security incidents
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [open, resolved] }
          required: false
        - in: query
          name: severity
          schema: { type: string, enum: [critical, high, medium, low] }
          required: false
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50 }
          required: false
        - in: query
          name: cursor
          schema: { type: integer, minimum: 1 }
          required: false
      responses:
        '200':
          description: Paged incidents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityIncidentList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    post:
      summary: Create a security incident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                severity:
                  type: string
                  enum: [critical, high, medium, low]
                  default: medium
                source:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Incident created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityIncident'
        '200':
          description: Incident already existed (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityIncident'
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/security/incidents/{id}/resolve:
    post:
      summary: Resolve a security incident
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Incident resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityIncident'
        '404':
          description: Incident not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/security/status:
    get:
      summary: Security posture summary
      responses:
        '200':
          description: Summary metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityStatus'
        '500':
          description: Server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/notifications:
    get:
      summary: High-priority notifications
      description: Returns critical incidents and escalated high severity incidents.
      responses:
        '200':
          description: Notifications list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationList'
        '500':
          description: Server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/access/requests:
    post:
      summary: Create an access request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subjectRef, resource]
              properties:
                subjectRef: { type: string }
                resource: { type: string }
                justification: { type: string }
      responses:
        '201':
          description: Access request created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccessRequest' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    get:
      summary: List access requests
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [pending, approved, denied, fulfilled] }
          required: false
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50 }
          required: false
        - in: query
          name: cursor
          schema: { type: integer, minimum: 1 }
          required: false
      responses:
        '200':
          description: Paged access requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestList'
        '500':
          description: Server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/access/requests/{id}/approve:
    post:
      summary: Approve an access request
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Access request approved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccessRequest' }
        '404':
          description: Access request not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Invalid state transition
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api/v1/access/requests/{id}/deny:
    post:
      summary: Deny an access request
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Access request denied
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccessRequest' }
        '404': { description: Access request not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: Invalid state transition, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /api/v1/access/requests/{id}/fulfill:
    post:
      summary: Mark an approved access request as fulfilled
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Access request fulfilled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccessRequest' }
        '404': { description: Access request not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: Invalid state transition, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /api/compliance/snapshot:
    get:
      summary: Get compliance snapshot
      description: Returns latest compliance snapshot for a tenant. May be cached for up to 300 seconds.
      parameters:
        - in: query
          name: tenantId
          schema: { type: string }
          required: false
          description: Explicit tenant scope (future multi-tenant). If omitted, defaults to authenticated tenant.
      responses:
        '200':
          description: Snapshot retrieved
          headers:
            X-Request-ID:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceSnapshot'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/evidence/ingest:
    post:
      summary: Ingest evidence envelope
      description: Persist immutable evidence payload into R2 and index metadata in D1.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceIngestRequest'
      responses:
        '200':
          description: Evidence was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceIngestResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Storage error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/evidence/{hash}:
    get:
      summary: Retrieve evidence envelope by hash
      parameters:
        - in: path
          name: hash
          schema: { type: string, pattern: '^[a-f0-9]{64}$' }
          required: true
          description: Evidence SHA-256 hash key
      responses:
        '200':
          description: Envelope found
          headers:
            X-Evidence-Hash:
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                description: Canonical evidence payload (schema varies per pack)
        '404':
          description: Evidence not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Retrieval failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/evidence/search:
    get:
      summary: Search evidence index
      parameters:
        - in: query
          name: tenantId
          schema: { type: string }
          required: false
          description: Filter by tenant identifier (defaults to demo tenant)
        - in: query
          name: pack
          schema: { type: string }
          required: false
          description: Filter by policy pack identifier (e.g. baseline@1.0.0)
        - in: query
          name: subject
          schema: { type: string }
          required: false
          description: Filter by subject reference (opaque string)
        - in: query
          name: cursor
          schema: { type: string }
          required: false
          description: Pagination cursor (opaque id returned as `nextCursor`)
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
          required: false
          description: Maximum rows to return
      responses:
        '200':
          description: Evidence index page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceSearchResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Index query failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/orchestrator/ai/infer:
    post:
      summary: AI inference (orchestrator)
      description: Invoke configured model with a prompt. Subject to daily quota and per-IP burst limits.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt: { type: string, maxLength: 8000 }
                model: { type: string, description: Optional allowed model override }
      responses:
        '200':
          description: Inference succeeded
          content:
            application/json:
              schema:
                type: object
                required: [success, model, output, quota]
                properties:
                  success: { type: boolean }
                  model: { type: string }
                  durationMs: { type: integer }
                  output:
                    type: object
                    properties:
                      text: { type: string }
                  quota:
                    $ref: '#/components/schemas/AiQuota'
        '400':
          description: Validation error (missing prompt or unsupported model)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '413':
          description: Prompt too large
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Quota or rate limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          description: Inference failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
components:
  schemas:
    Health:
      type: object
      required: [status, service, timestamp, version, buildVersion, d1, r2, evidenceCount]
      properties:
        status: { type: string, example: ok }
        service: { type: string, example: compliance-worker }
        timestamp: { type: number, format: int64 }
        version: { type: string, description: Legacy version field retained for compatibility }
        buildVersion: { type: string, description: Build identifier reported by deployment }
        snapshotAgeSeconds:
          type: integer
          minimum: 0
          nullable: true
          description: Age in seconds of most recent persisted snapshot if available
        d1:
          type: boolean
          description: Indicates whether D1 binding is configured
        r2:
          type: boolean
          description: Indicates whether evidence R2 bucket binding is configured
        evidenceCount:
          type: integer
          minimum: 0
          description: Number of indexed evidence envelopes
        policyTemplateCount:
          type: integer
          minimum: 0
          description: Number of policy templates available
        generatedPolicyCount:
          type: integer
          minimum: 0
          description: Number of generated policies stored
        controlCount:
          type: integer
          minimum: 0
          description: Number of internal controls defined
        controlEvidenceLinks:
          type: integer
          minimum: 0
          description: Total evidence links across all controls
        security:
          type: object
          required: [openIncidents, threatLevel]
          properties:
            openIncidents: { type: integer, minimum: 0 }
            threatLevel: { type: string, enum: [normal, elevated, critical, unknown] }
        access:
          type: object
          required: [pendingRequests]
          properties:
            pendingRequests: { type: integer, minimum: 0 }
        activity:
          type: object
          required: [lastEventTs]
          properties:
            lastEventTs:
              type: string
              format: date-time
              nullable: true
        latency:
          type: object
          description: Latency histograms for selected operations.
          additionalProperties:
            type: object
            nullable: true
            properties:
              count: { type: integer, minimum: 0 }
              avg: { type: number, minimum: 0 }
              p50: { type: number, minimum: 0 }
              p95: { type: number, minimum: 0 }
    ComplianceSnapshot:
      type: object
      required: [tenantId, generatedAt, frameworkSummary, risks, policies]
      properties:
        tenantId:
          type: string
          description: Tenant identifier
        generatedAt:
          type: string
          format: date-time
        ageSeconds:
          type: integer
          minimum: 0
          description: Age of persisted snapshot if stored (optional until Phase 2)
        frameworkSummary:
          type: array
          items:
            $ref: '#/components/schemas/FrameworkSummary'
        risks:
          type: array
          items:
            $ref: '#/components/schemas/Risk'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/Policy'
    FrameworkSummary:
      type: object
      required: [framework, coveragePercent, passing, failing, total]
      properties:
        framework: { type: string, example: SOC2 }
        coveragePercent: { type: number, minimum: 0, maximum: 100 }
        passing: { type: integer, minimum: 0 }
        failing: { type: integer, minimum: 0 }
        total: { type: integer, minimum: 0 }
    Risk:
      type: object
      required: [id, title, likelihood, impact, score, severity]
      properties:
        id: { type: string }
        title: { type: string }
        likelihood: { type: integer, minimum: 1, maximum: 5 }
        impact: { type: integer, minimum: 1, maximum: 5 }
        score: { type: integer, minimum: 1, maximum: 25, description: 'likelihood * impact' }
        severity: { type: string, enum: [low, medium, high, critical] }
        owner: { type: string, format: email }
    Policy:
      type: object
      required: [id, name, status, updated]
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string, enum: [draft, approved, outdated] }
        updated: { type: string, format: date-time }
    EvidenceIngestRequest:
      type: object
      required: [payload]
      properties:
        tenantId:
          type: string
          description: Tenant identifier (defaults to demo when omitted)
        pack:
          type: string
          description: Policy pack identifier (e.g. baseline@1.0.0)
        subject:
          type: string
          description: Subject reference string (user/device identifier)
        payload:
          type: object
          additionalProperties: true
          description: Evidence envelope payload (canonical JSON hashed server-side)
    EvidenceIngestResponse:
      type: object
      required: [hash, stored]
      properties:
        hash:
          type: string
          description: SHA-256 hash of canonical evidence payload
        stored:
          type: boolean
          description: Indicates whether a new record was stored (false implies duplicate)
    EvidenceIndexItem:
      type: object
      required: [id, hash, tenantId, pack, createdAt]
      properties:
        id: { type: integer, description: Monotonic row identifier }
        hash: { type: string }
        tenantId: { type: string }
        pack: { type: string }
        subject:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    EvidenceSearchResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/EvidenceIndexItem'
        nextCursor:
          type: string
          nullable: true
          description: Cursor to request the next page (null when no more rows)
    EvidenceLinkResult:
      type: object
      required: [controlKey, evidenceHash, linked, createdAt]
      properties:
        controlKey: { type: string }
        evidenceHash: { type: string }
        linked: { type: boolean }
        createdAt: { type: string, format: date-time }
    SecurityIncident:
      type: object
      required: [id, tenantId, title, severity, status, createdAt]
      properties:
        id: { type: integer }
        tenantId: { type: string }
        title: { type: string }
        severity: { type: string, enum: [critical, high, medium, low] }
        status: { type: string, enum: [open, resolved] }
        source: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        resolvedAt: { type: string, format: date-time, nullable: true }
        responseMs:
          type: integer
          nullable: true
          description: Time to resolve in milliseconds when available
    SecurityIncidentList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/SecurityIncident' }
        nextCursor:
          type: integer
          nullable: true
    SecurityStatus:
      type: object
      required: [threatLevel, threatBasis, openIncidents, resolvedIncidents]
      properties:
        threatLevel: { type: string, enum: [normal, elevated, critical] }
        threatBasis: { type: string }
        basis: { type: string, description: Alias for threatBasis }
        openIncidents: { type: integer, minimum: 0 }
        resolvedIncidents: { type: integer, minimum: 0 }
        avgResponseMs:
          type: integer
          nullable: true
    NotificationItem:
      type: object
      required: [id, title, severity, status, createdAt, ageSeconds, escalation]
      properties:
        id: { type: integer }
        title: { type: string }
        severity: { type: string, enum: [critical, high, medium, low] }
        status: { type: string, enum: [open, resolved] }
        createdAt: { type: string, format: date-time }
        ageSeconds: { type: integer, minimum: 0 }
        escalation: { type: boolean }
    NotificationList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/NotificationItem' }
    AccessRequest:
      type: object
      required: [id, tenantId, subjectRef, resource, status, createdAt]
      properties:
        id: { type: integer }
        tenantId: { type: string }
        subjectRef: { type: string }
        resource: { type: string }
        justification: { type: string, nullable: true }
        status: { type: string, enum: [pending, approved, denied, fulfilled] }
        createdAt: { type: string, format: date-time }
        decidedAt: { type: string, format: date-time, nullable: true }
        decidedBy: { type: string, nullable: true }
    AccessRequestList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/AccessRequest' }
        nextCursor:
          type: integer
          nullable: true
        count:
          type: integer
          description: Number of records in the current page
    PolicyEvaluationRequest:
      type: object
      required: [tenantId, subject, policyPackRef, timestamp]
      properties:
        tenantId: { type: string }
        subject: { type: object, additionalProperties: true }
        policyPackRef: { type: string }
        timestamp: { type: string, format: date-time }
    PolicyEvaluationResponse:
      type: object
      required: [result, evidence]
      properties:
        result:
          type: object
          properties:
            allow: { type: boolean }
            requirements: { type: array, items: { type: string } }
            violations: { type: array, items: { type: string } }
        evidence:
          type: object
          required: [hash]
          properties:
            hash: { type: string }
    PolicyTemplate:
      type: object
      required: [key, name, format]
      properties:
        key: { type: string }
        name: { type: string }
        format: { type: string, enum: [markdown] }
    GeneratePolicyRequest:
      type: object
      required: [tenantId, templateKey, context]
      properties:
        tenantId: { type: string }
        templateKey: { type: string }
        context:
          type: object
          additionalProperties: true
          description: Arbitrary template context object (hashed canonically for cache key)
    GeneratePolicyResponse:
      type: object
      required: [hash, templateKey, content, contextHash, createdAt, sizeBytes, cached]
      properties:
        hash: { type: string, description: SHA-256 content hash }
        templateKey: { type: string }
        content: { type: string }
        contextHash: { type: string, description: Canonical SHA-256 hash of input context }
        createdAt: { type: string, format: date-time }
        sizeBytes: { type: integer, minimum: 0 }
        cached: { type: boolean, description: Indicates whether content was reused }
    CoverageSummary:
      type: object
      required: [framework, coveragePercent, controls]
      properties:
        framework: { type: string }
        coveragePercent: { type: number, minimum: 0, maximum: 100 }
        controls:
          type: array
          items:
            type: object
            required: [key, title, evidenceCount]
            properties:
              key: { type: string }
              title: { type: string }
              evidenceCount: { type: integer, minimum: 0 }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        requestId: { type: string }
    AiQuota:
      type: object
      required: [used, limit]
      properties:
        date: { type: string, format: date, description: UTC date key }
        used: { type: integer, minimum: 0 }
        limit: { type: integer, minimum: 0 }
        remaining: { type: integer, minimum: 0, nullable: true }
